@charset "UTF-8";

/*
    < 768px        - Mobile First (style.css)
    768px - 992px  - Tablet
    992px - 1440px - PC / Notes
    > 1440px       - Telas maiores (TV, Monitor 4k)
*/

@media screen and (min-width: 768px) {

    /* ALTERAR O MENU */
    body {
        background-image: linear-gradient(to bottom, var(--cor2) 25%, var(--cor4));
        min-width: 320px;
    }

    header>div#menu-container>label.burger-button {
        display: none;
    }

    header>div#menu-container>nav {
        position: relative;
        top: 0px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        height: 80px;
        transform: scaleX(1);
    }

    header>div#menu-container>nav>a {
        padding: 10px;
        align-self: center;
        font-size: 1.2rem;
        color: var(--cor4);
        background-color: var(--cor2);
        border: 0px;
    }

    header>div#menu-container>nav>a:hover {
        color: var(--cor1);
        background-color: var(--cor2);
        border: 0px;
    }

    /* TABLET */
    section.flex-container {
        background-image: url(../img/bg-tablet.jpg);
        background-position: bottom center;
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
    }

    div.item-1 {
        flex: 1 1 100%;
    }

    div.item-2 {
        flex: 1 1 50%;
        background-color: var(--cor3);
    }

    div.item-3 {
        flex: 1 1 50%;
        background-color: var(--cor2);
    }


}

@media screen and (min-width: 950px) {

    /* PC */
    header>nav {
        text-align: center;
    }

    section.flex-container {
        background-image: url(../img/bg-pc.jpg);
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
    }

    div.item-1 {
        flex: 1 1 100%;
    }

    div.item-2 {
        flex: 1 1 50%;
        background-color: var(--cor3);
    }

    div.item-3 {
        flex: 1 1 50%;
        background-color: var(--cor2);
    }

    div#menu-container {
        max-width: 1000px;
        margin: auto;
    }

    main {
        max-width: 1000px;
        margin: auto;
    }




}

@media screen and (min-width: 1200px) {

    /* TV */
    header>nav {
        text-align: center;
    }

    section.flex-container {
        background-image: url(../img/bg-pc.jpg);
        background-position: bottom center;
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
    }

    div.item-1 {
        flex: 1 1 34%;
    }

    div.item-2 {
        flex: 1 1 33%;
        background-color: var(--cor3);
    }

    div.item-3 {
        flex: 1 1 33%;
        background-color: var(--cor2);
    }

    div#menu-container {
        max-width: 1000px;
        margin: auto;
    }

    main {
        max-width: 1000px;
        margin: auto;
    }



}