@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700;800&display=swap');

:root {
    --cor1: #F2F2F2;
    --cor2: #6F96A6;
    --cor3: #5990D9;
    --cor4: #2D3940;
    --cor5: #D9B282;

    --fonte-icon: 'Caveat', cursive;
    --fonte-padrao: 'Heebo', sans-serif;
}

/* MOBILE FIRST */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte-padrao);
}

body {
    background-color: #6f96a670;
    min-width: 320px;
}

/*  ################
    #              #
    #     MENU     #
    #              #
    ################ */

header {
    background-color: var(--cor2);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.466);
}

div#menu-container>input#checkbox-burger {
    display: none;
}

div#menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

h1#nome {
    font-family: var(--fonte-icon);
    padding: 15px 11px;
    color: var(--cor4);
    font-size: 2.5em;
    flex: 1 1 90%;
}

label.burger-button {
    padding: 15px 10px;
}

label.burger-button>span {
    display: block;
    height: 5px;
    margin: 0px 0px 2.5px 0px;
    width: 30px;
    border-radius: 30px;
    transition: 0.25 ease-in-out;
    background-color: var(--cor4);
}

div#menu-container>nav {
    position: absolute;
    width: 80%;
    top: 80px;
    right: 0px;
    display: flex;
    flex-direction: column;

    transform: scaleX(0);
}

div#menu-container>nav>a {
    font-size: 1.2em;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    padding: 15px;
    color: var(--cor1);
    background-color: var(--cor4);
    border: 1px solid var(--cor2);
    cursor: pointer;
}

div#menu-container>nav>a:hover {
    background-color: var(--cor5);
    color: var(--cor4);
    border: 1px solid var(--cor2);
}

/*
    Rotaciona o span de cima do burger menu para formar a perna do X
    Oculta o span do meio do burger 
    Rotaciona o span de baixo do burger para formar a outra perna do X
*/
input#checkbox-burger:checked+label span:nth-child(1) {
    position: absolute;
    top: 34px;
    transform: rotate(-45deg);
}

input#checkbox-burger:checked+label span:nth-child(2) {
    opacity: 0;
}

input#checkbox-burger:checked+label span:nth-child(3) {
    position: absolute;
    top: 34px;
    transform: rotate(45deg);
}

/*
    Faz o menu aparecer ao clica no label (vai dar check do checkbox invisivel)
*/
input#checkbox-burger:checked~nav {
    transform: scaleX(1);
    transform-origin: right;
    transition: transform 0.5s;
    z-index: 999;
}

/*  ###########################
    #                         #
    #     MAIN AREA - CTA     #
    #                         #
    ########################### */

main {
    background-color: whitesmoke;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.466);
    z-index: -1;
}

section.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    overflow-wrap: break-word;
    padding: 15px 10px;
    height: 88vh;
    min-height: 700px;
    text-align: center;
    margin: auto;
    background-image: url(../img/bg-mobile.jpg);
    background-position: center top;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

div.flex-items {
    z-index: 2;
}

div.flex-items>p {
    padding: 20px;
    font-size: 1.2em;
    margin: auto;
}

div.flex-items>a {
    display: block;
    font-size: 1.8em;
    margin: 20px auto;
    text-decoration: none;
    background-color: var(--cor2);
    color: var(--cor1);
    width: 225px;
    padding: 15px;
    border-radius: 40px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.623);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.623);
}

div.flex-items>a:hover {
    background-color: var(--cor5);
    color: var(--cor4);
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
    transform: translate(0px, -5px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.623);
    transition: transform .2s, border 1s;
}

div.item-1 {
    flex: 1 1 100%;
    color: var(--cor1);
    font-weight: 500;
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.55);
}


div.item-1>h2 {
    font-size: 2.5em;
    color: var(--cor1);
    text-shadow: 0px 0px 7px rgba(45, 57, 64, 0.550);
    font-weight: 800;
}

div.item-2 {
    color: var(--cor1);
    font-weight: 700;
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.55);
    flex: 1 1 100%;
}

div.item-3 {
    color: var(--cor1);
    font-weight: 700;
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.55);
    flex: 1 1 100%;
}



/*  ############################
    #                          #
    #     MAIN AREA - FORM     #
    #                          #
    ############################ */

#dummyframe {
    display: none;
}

section#form-area {
    padding: 10vh 10vw;
    background-color: var(--cor4);
    color: var(--cor1);
}

section#form-area h2 {
    text-align: center;
    font-size: 1.75em;
}

section#form-area label.question {
    display: inline-block;
    padding: 15px 2px 5px;
    font-size: 1.1em;
}

section#form-area label.answer {
    padding: 0px 5px;
    font-size: 1em;
}

section#form-area input[type=text],
input[type=email],
input[type=submit],
select,
option,
textarea {
    width: 100%;
    display: block;
    padding: 1.2em;
    border-radius: 10px;
}

section#form-area textarea {
    max-width: 100%;
    min-width: 100%;
    min-height: 40px;
}

section#form-area #submit-button {
    margin-top: 30px;
    padding: 15px 5px;
    font-size: 1.5em;
    font-weight: 600;
    border: none;
    border: none;
    color: var(--cor4);
    background-color: var(--cor5);
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.500);
}

section#form-area #submit-button:hover {
    background-color: var(--cor1);
    color: var(--cor4);
    transition: 0.3s;
    transform: translate(0px, -5px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.623);
    transition: transform .2s, border 1s;
}

/*  ###########################
    #                         #
    #     MSG SUBMIT FORM     #
    #                         #
    ########################### */

.overlay {
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    opacity: 0;
}

.overlay.show {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    opacity: 1;
    z-index: 999;
}

.popup {
    margin: 150px auto;
    padding: 20px;
    background: #00ff15;
    border-radius: 5px;
    width: 75%;
    position: relative;
    transition: all 2s ease-in-out;
}

.popup h2 {
    font-size: 2em;
    margin-top: 0;
    color: var(--cor4);
    padding: 5px;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    transition: all 200ms;
}

.popup .close:hover {
    color: #06D85F;
}

.popup .content {
    font-size: 1.25em;
    text-align: center;
    overflow: auto;
    color: var(--cor4);
    padding: 20px 0px;
    
}


/*  ########################
    #                      #
    #     ABOUT SCREEN     #
    #                      #
    ######################## */